.mol-accordion {
  .mol-acc-item {
    position: relative;
    margin-bottom: 15px;
    background: #FFFFFF;
    border: 1px solid #F5F5FD;
    border-radius: 5px;

    .acc-item-header {
      display: block;
      color: #1F1F1F;
      padding: 16px 32px;
      font-size: 24px;
      cursor: pointer;
    }

    .acc-item-body {
      display: none;
      padding: 16px;
      background-color: #F7F8FA;
      padding: 32px;
      font-size: 16px;
      color: #666666;
    }

    &.active {
      .acc-item-body {
        display: block;
      }
    }
  }
}