<link href="https://cdn.moladin.com" rel="preconnect">
<link href="https://cdn.moladin.com/fonts/NunitoSansRegular.woff2" rel="prefetch" as="font">
<link href="https://cdn.moladin.com/fonts/NunitoSansBold.woff2" rel="prefetch" as="font">
<link href="https://cdn.moladin.com/fonts/NunitoSansSemiBold.woff2" rel="prefetch" as="font">
<link href="https://cdn.moladin.com/fonts/NunitoSansExtraBold.woff2" rel="prefetch" as="font">
<style>
    @font-face {
        font-family: 'Nunito Sans', sans-serif;
            src: url('https://cdn.moladin.com/fonts/NunitoSansRegular.eot');
            src: url('https://cdn.moladin.com/fonts/NunitoSansRegular.eot') format('embedded-opentype'),
                url('https://cdn.moladin.com/fonts/NunitoSansRegular.woff2') format('woff2'),
                url('https://cdn.moladin.com/fonts/NunitoSansRegular.woff') format('woff'),
                url('https://cdn.moladin.com/fonts/NunitoSansRegular.ttf') format('truetype'),
                url('https://cdn.moladin.com/fonts/NunitoSansRegular.svg#NunitoSansRegular') format('svg');
        font-weight: 400;
        font-style: normal;
    }
    @font-face {
        font-family: 'Nunito Sans', sans-serif;
        src: url('https://cdn.moladin.com/fonts/NunitoSansSemiBold.eot');
        src: url('https://cdn.moladin.com/fonts/NunitoSansSemiBold.woff2') format('woff2'),
            url('https://cdn.moladin.com/fonts/NunitoSansSemiBold.woff') format('woff'),
            url('https://cdn.moladin.com/fonts/NunitoSansSemiBold.ttf') format('truetype'),
            url('https://cdn.moladin.com/fonts/NunitoSansSemiBold.svg#NunitoSansSemiBold') format('svg');
        font-weight: 600;
        font-style: normal;
    }
    @font-face {
        font-family: 'Nunito Sans', sans-serif;
        src: url('https://cdn.moladin.com/fonts/NunitoSansBold.eot');
        src: url('https://cdn.moladin.com/fonts/NunitoSansBold.woff2') format('woff2'),
            url('https://cdn.moladin.com/fonts/NunitoSansBold.woff') format('woff'),
            url('https://cdn.moladin.com/fonts/NunitoSansBold.ttf') format('truetype'),
            url('https://cdn.moladin.com/fonts/NunitoSansBold.svg#NunitoSansBold') format('svg');
        font-weight: 700;
        font-style: normal;
    }
    @font-face {
        font-family: 'Nunito Sans', sans-serif;
        src: url('https://cdn.moladin.com/fonts/NunitoSansExtraBold.eot');
        src: url('https://cdn.moladin.com/fonts/NunitoSansExtraBold.woff2') format('woff2'),
            url('https://cdn.moladin.com/fonts/NunitoSansExtraBold.woff') format('woff'),
            url('https://cdn.moladin.com/fonts/NunitoSansExtraBold.ttf') format('truetype'),
            url('https://cdn.moladin.com/fonts/NunitoSansExtraBold.svg#NunitoSansExtraBold') format('svg');
        font-weight: 800;
        font-style: normal;
    }
    body {
        font-family: 'Nunito Sans', sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
</style>